# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code\DO_NOT_Look_At_My_Screen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
